version: 2

jobs:
  build:
    docker:
      - image: circleci/golang:1.11.1
        environment:
          GO111MODULE: "ON"
    working_directory: /go/src/github.com/caalberts/localroast
    steps:
      - checkout
      - run: make build
      - run: make test-cover
      - run: bash <(curl -s https://codecov.io/bash)
  release:
    docker:
      - image: circleci/golang:1.11.1
        environment:
          GO111MODULE: "ON"
    working_directory: /go/src/github.com/caalberts/localroast
    steps:
      - checkout
      - run: go get -u github.com/golang/dep/cmd/dep
      - run: dep ensure
      - run: curl -sL https://git.io/goreleaser | bash

workflows:
  version: 2
  build:
    jobs:
      - build:
          filters:
            tags:
              ignore: /v[0-9]+(\.[0-9]+)*(-.*)*/
  build_release:
    jobs:
      - build:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v[0-9]+(\.[0-9]+)*(-.*)*/
      - release:
          requires:
            - build
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v[0-9]+(\.[0-9]+)*(-.*)*/
